<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="initial_pose_x" default="0.1"/>
  <arg name="initial_pose_y" default="0.1"/>
  <arg name="initial_pose_a" default="0"/>
  <arg name="map_file" default="$(find tokuron_nav)/map/real_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <!-- navigation -->
  <arg name="yaml_path" default="$(find tokuron_nav)/spot/real_spot.yaml"/>
  <arg name="dist_err" default="0.1"/>
  <arg name="yaw_tolerance" default="0.1"/>
  <!-- Set pose_tolerance1 < pose_tolerance2 -->
  <arg name="pose_tolerance1" default="0.01"/>
  <arg name="pose_tolerance2" default="0.02"/>
  <arg name="goal_pub_rate" default="10"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <!--include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include-->

  <!-- EMCL -->
  <include file="$(find emcl2)/launch/emcl2.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <include file="$(find tokuron_nav)/launch/navigation.launch">
    <arg name="yaml_path" value="$(arg yaml_path)"/>
    <arg name="dist_err" value="$(arg dist_err)"/>
    <arg name="yaw_tolerance" value="$(arg yaw_tolerance)"/>
    <arg name="pose_tolerance1" value="$(arg pose_tolerance1)"/>
    <arg name="pose_tolerance2" value="$(arg pose_tolerance2)"/>
    <arg name="goal_pub_rate" value="$(arg goal_pub_rate)"/>
  </include>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tokuron_nav)/rviz/tokuron.rviz"/>
  </group>
</launch>
