<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="world_name" default="$(find tokuron_nav)/world/tokuron.world"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-0.7"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default="1.57"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="-0.7"/>
  <arg name="initial_pose_a" default="1.57"/>
  <arg name="map_file" default="$(find tokuron_nav)/map/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <!-- navigation -->
  <arg name="yaml_path" default="$(find tokuron_nav)/spot/spot.yaml"/>
  <arg name="dist_err" default="0.05"/>
  <arg name="yaw_tolerance" default="0.6"/>
  <arg name="goal_pub_rate" default="10"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description" />

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <!--include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include-->

  <!-- EMCL -->
  <include file="$(find emcl2)/launch/emcl2.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <include file="$(find tokuron_nav)/launch/navigation.launch">
    <arg name="yaml_path" value="$(arg yaml_path)"/>
    <arg name="dist_err" value="$(arg dist_err)"/>
    <arg name="yaw_tolerance" value="$(arg yaw_tolerance)"/>
    <arg name="goal_pub_rate" value="$(arg goal_pub_rate)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tokuron_nav)/rviz/tokuron.rviz"/>
  </group>
</launch>
